@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.courts-banner-font-family {
  font-family: "Poppins", sans-serif;
}
.underline-animate {
  position: relative;
  display: inline-block;
}
.underline-animate::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.underline-animate:hover::after {
  transform: scaleX(1);
}
@media (max-width: 600px) {
  .banner-image {
    display: none;
  }
  .banner-content {
    width: 100%;
  }
  .course-benefits {
    flex-direction: column;
    gap: 20px;
  }
  .mdoules-main {
    row-gap: 50px;
  }
  .main-module-2 {
    flex-direction: column;
  }
}
