.carousel-section {
  position: relative;
  overflow: hidden;
  height: 286px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-sizing: border-box;
}

.carousel-item-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 0;
  transition: opacity 1s ease-in-out, z-index 1s;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-sizing: border-box;
}

/* Show the active one */
.carousel-item-wrapper.show {
  opacity: 1;
  z-index: 1;
}

/* Style the components */
.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 3rem;
  color: white;
}

.blue {
  background-color: steelblue;
}

.green {
  background-color: seagreen;
}

@media (max-width: 600px) {
  .carousel-section {
    height: 100vh;
  }
}
